/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.woff") format("woff"),
    url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"),
    url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

h1 {
  margin: 0;
}

.background-image {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(243, 129, 129, 0.9)),
      to(rgba(243, 213, 106, 0.9))
    ),
    url(../images/background/background.jpg);
  background-image: -o-linear-gradient(
      rgba(243, 129, 129, 0.9) 0%,
      rgba(243, 213, 106, 0.9) 100%
    ),
    url(../images/background/background.jpg);
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9) 0%,
      rgba(243, 213, 106, 0.9) 100%
    ),
    url(../images/background/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 54px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  margin-bottom: 180px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.navigation__logo {
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
}

.navigation__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation__item {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
}

.navigation__item .link:hover,
.navigation__item .link:focus {
  color: #fce38a;
}

.navigation__item::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fce38a;
  content: "";
  -webkit-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
  margin-top: 10px;
}

.navigation__item {
  position: relative;
}

.navigation__list .navigation-icons {
  display: block;
  width: 30px;
  height: 20px;
}

.navigation__list svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.navigation__item:hover:after,
.navigation__item:focus::after {
  width: 100%;
}

.text-center {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 150px;
  line-height: 1;
  margin-bottom: 110px;
  color: #ffffff;
}

.title {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.main-italic {
  font-family: "KaushanScript";
  font-weight: 400;
  font-size: 72px;
  color: #ffffff;
  margin: 0 auto;
  padding: 0 90px;
  margin-bottom: 40px;
}

.button {
  background-color: transparent;
  border: solid 3px #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 176px;
}

.section-italic {
  font-family: "KaushanScript";
  font-weight: 400;
  font-size: 24px;
  color: #333333;
  line-height: 1.5;
}

.section__title {
  font-weight: 700;
  font-size: 30px;
  color: #333333;
}

.section-italic::after {
  content: "";
  display: block;
  position: relative;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 40px auto 46px;
}

.service {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.service__item {
  margin-bottom: 100px;
  width: 382px;
  min-height: 70px;
  padding-left: 80px;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.service__item:nth-last-child(-n + 3) {
  margin-bottom: 90px;
}

.service__item svg {
  display: block;
  height: 32px;
  width: 100%;
  right: 150px;
  position: absolute;
  fill: #95e1d3;
}

.service__title {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  margin-bottom: 16px;
}

.service__text {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.section__subtitle {
  font-family: "Roboto";
  font-weight: 400;
  color: #999999;
  font-size: 15px;
  padding: 0 112px;
  line-height: 1.5;
  margin-bottom: 94px;
}

.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-list {
  width: 380px;
  min-height: 538px;
  position: relative;
}

.team-list__image {
  margin-bottom: 28px;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.team-list__name {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.team-list__work {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  color: #999999;
}

.overlay {
  width: 100%;
  height: 470px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(243, 129, 129, 0.9)),
    to(rgba(243, 213, 106, 0.9))
  );
  background-image: -o-linear-gradient(
    rgba(243, 129, 129, 0.9) 0%,
    rgba(243, 213, 106, 0.9) 100%
  );
  background-image: linear-gradient(
    rgba(243, 129, 129, 0.9) 0%,
    rgba(243, 213, 106, 0.9) 100%
  );
  position: absolute;
  opacity: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.team-list:hover .team-list__image {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team-list:hover .overlay {
  opacity: 1;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px 0px 0px rgba(149, 225, 211, 1);
}

.icon-socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team-list__socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list__socials a {
  display: block;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.team-list__socials svg {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  fill: #f38181;
}

.team-list__socials li {
  margin-right: 1px;
}

.team-list__socials li:last-child {
  margin-right: 0;
}

.team-list__socials a:hover,
.team-list__socials a:focus {
  background-color: #f38181;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.team-list__socials a:hover svg,
.team-list__socials a:focus svg {
  fill: #ffffff;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.footer-wrapper {
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-style: normal;
}

.footer-link {
  text-decoration: none;
  color: #f38181;
  font-style: normal;
  display: inline-block;
}

.e-mail {
  width: 230px;
  height: 40px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  border: solid 1px #e5e5e5;
  padding: 12px;
}

.button-submit {
  width: 150px;
  height: 40px;
  background: #95e1d3;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  border: 1px solid#95e1d3;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: 700;
}

.section::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #e5e5e5;
  margin: 86px auto 10px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-image {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(243, 129, 129, 0.9)),
        to(rgba(243, 213, 106, 0.9))
      ),
      url(../images/background/background@2x.jpg);
    background-image: -o-linear-gradient(
        rgba(243, 129, 129, 0.9) 0%,
        rgba(243, 213, 106, 0.9) 100%
      ),
      url(../images/background/background@2x.jpg);
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9) 0%,
        rgba(243, 213, 106, 0.9) 100%
      ),
      url(../images/background/background@2x.jpg);
  }
}
