html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Amiri";
  src: url("../fonts/Amiri-Italic.woff") format("woff"),
    url("../fonts/Amiri-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "GreatVibes";
  src: url("../fonts/GreatVibes-Regular.woff") format("woff"),
    url("../fonts/GreatVibes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Slabo";
  src: url("../fonts/Slabo27px-Regular.woff") format("woff"),
    url("../fonts/Slabo27px-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.head-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.site-logo {
  margin: 0;
  font-family: "GreatVibes";
  font-weight: 400;
  font-style: normal;
  color: #fed136;
  text-decoration: none;
  font-size: 26px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 122px;
}

.site-navigation {
  width: 485px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list {
  text-decoration: none;
  color: #222222;
  position: relative;
  transition: color 200ms linear;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 400;
}

.nav-list:hover,
.nav-list:focus {
  color: #fed136;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -0.024em;
  text-align: center;
  margin-bottom: 18px;
}

.sub-title {
  font-size: 16px;
  font-family: "Amiri";
  color: #777777;
  text-align: center;
  margin-bottom: 78px;
}

.service-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.service-list-item::before {
  content: "";
  display: block;
  height: 74px;
  width: 100%;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  border-style: solid;
  width: 74px;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto 24px;
  background-position: center;
}

.service-title {
  font-size: 18px;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 18px;
}

.text-service {
  text-align: center;
  font-family: "Slabo";
  color: #777777;
  font-size: 14px;
  margin-bottom: 122px;
}

.service-list-item {
  width: 290px;
}

.icon-basket::before {
  background-image: url(../image/icons/img1.png);
}
.icon-laptop::before {
  background-image: url(../image/icons/img2.png);
}

.icon-locked::before {
  background-image: url(../image/icons/img3.png);
}

.footer-block {
  background-color: rgb(34, 34, 34);
  background-image: url(../image/map.png);
  background-repeat: no-repeat;
  background-position: right 56px;
}

.footer-content {
  width: 940px;
  margin: 0 auto;
  height: 676px;
}

.footer-title {
  font-family: "Montserrat";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -0.024em;
  text-align: center;
  color: #ffffff;
  padding-top: 110px;
  margin-bottom: 24px;
}

.forms {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 20px;
  resize: none;
}

.form-name {
  height: 52px;
  width: 456px;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.needed:valid {
  outline: 2px solid #2bb62b;
}

.needed:invalid:focus {
  outline: 2px solid #ff4747;
}

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}

.submit-wrap {
  margin: 0 auto;
  width: 240px;
  height: 56px;
  background-color: rgb(254, 209, 54);
  text-align: center;
  border-radius: 3px;
  padding: 18px;
}
